a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
/* NavMenu.css */

.navbar-nav {
  display: flex;
  justify-content: center; /* Horizontally center the nav items */
}

.navbar-nav.flex-grow {
  flex-grow: 1; /* Allow the center nav items to grow and occupy remaining space */
}

.navbar-nav:not(.flex-grow) {
  flex-grow: 0; /* Prevent the side nav items from growing */
}
.header-btn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
  align-items: center;
}
.header-dropdown {
  width: 150px;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
  align-items: center;
}
header li:hover {
  color: #198754 !important;
  background: #f3f3f5;
  box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
  border-radius: 10px;
}
.header-btn-login{
  box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
  align-items: center;
  border-radius: 10px;
}
.header-btn-register{
box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
  align-items: center;
  border-radius: 10px;
}